# Project-specific
build
run/*
!run/Fonts
!run/Maps
!run/Models
!run/Shaders
!run/Textures

# Backup and temporary files
*.bak
*.gho
*.ori
*.tmp
*~

# Windows
Thumbs.db
[Dd]esktop.ini
*.lnk
*.stackdump

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

# Visual Studio
.vs

# Sublime Text
*.sublime-workspace

# JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Microsoft Office and LibreOffice
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*
.~lock.*#