[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
[submodule "lib/etc/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/etc/imgui"]
	path = lib/etc/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/etc/parson"]
	path = lib/etc/parson
	url = https://github.com/kgabis/parson
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "lib/remotery"]
	path = lib/remotery
	url = https://github.com/Celtoys/Remotery
